<!-- Main content -->
<section class="content">

  <!-- Default box -->
  <div class="callout callout-danger" ng-show="!item.visible">
    <h4>Plato Oculto!</h4>
    <p>Este plato está oculto de para los clientes. Presione el botón "Reactivar en el Menú" para volver a mostar este plato.</p>
  </div>
  <div class="box box-warning" style="min-height: 100%">
    <div class="box-header with-border">
      <h3 class="box-title">
        <a href="#/dashboard/menu"><i class="ion ion-arrow-left-a" style="font-size:large; margin-right:10pt"></i></a> 
        {{item.name}}
      </h3>
      <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
      </div>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-sm-4">
          <img class="thumbnail" style="width:100%" src="{{item.pictures[0]}}">
          <button class="btn btn-block btn-default" data-toggle="modal" data-target="#hideConfirmationModal" ng-show="item.visible">
            <i class="ion ion-eye-disabled"></i> Ocultar del Menú
          </button>
          <button class="btn btn-block btn-default" data-toggle="modal" data-target="#showConfirmationModal" ng-show="!item.visible">
            <i class="ion ion-eye"></i> Reactivar en el Menú
          </button>
          <button class="btn btn-block btn-danger" data-toggle="modal" data-target="#deleteConfirmationModal"><i class="ion ion-close"></i> Remover del Menú</button>
        </div>
        <div class="col-sm-8">
          <!-- Item Details Box -->
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Detalles del Plato</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
              <strong><i class="ion ion-information-circled"></i>  Nombre</strong>
              <p class="text-muted">{{item.name}}</p>
              <hr>

              <strong><i class="ion ion-cash"></i> Precio</strong>
              <p class="text-muted">${{item.price}}</p>
              <hr>

              <strong><i class="ion ion-quote"></i> Descripción</strong>
              <p class="text-muted">{{item.description}}</p>
              <hr>

              <strong><i class="ion ion-stats-bars"></i> Órdenes</strong>
              <p class="text-muted">Este plato se ha ordenado {{item.timesOrdered}} veces</p>
              <hr>

              <strong><i class="ion ion-images"></i> Fotos</strong>
              <p class="text-muted">
                <div class="row">
                  <div class="col-xs-4 col-sm-3" ng-repeat="picture in item.pictures">
                    <img src="{{picture}}" style="width:100%" class="thumbnail">
                  </div>
                </div>
              </p>
              <hr>

              <strong><i class="ion ion-pound"></i> ID</strong>
              <p class="text-muted">{{item._id}}</p>
            </div><!-- /.box-body -->
          </div><!-- /. Item details box -->
        </div>
      </div>
    </div><!-- /.box-body -->
    <div class="overlay" ng-show="loading">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
  </div><!-- /.box -->


  <!-- Hide Confirmation Modal -->
  <div class="modal modal-default fade" id="hideConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="Add New Menu Item">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title text-center" id="myModalLabel"><i class="ion ion-eye-disabled"></i> Ocultar del Menú</i></h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-12">
              Esta opción oculta este plato del menú para sus clientes. El plato NO es borrado del menú, puede reactivarlo en cualquier momento.
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="hideItem(item)">Ocultar</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">No hacer nada</button>
        </div>
      </div>
    </div>
  </div><!-- /. Hide Confirmation Modal -->
  <!-- Show Confirmation Modal -->
  <div class="modal modal-default fade" id="showConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="Add New Menu Item">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title text-center" id="myModalLabel"><i class="ion ion-eye"></i> Reactivar en el Menú</i></h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-12">
              Esta opción reactiva este plato del menú para sus clientes. El plato volverá a aparecer en su menú para los clientes.
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="showItem(item)">Reactivar</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">No hacer nada</button>
        </div>
      </div>
    </div>
  </div><!-- /. Hide Confirmation Modal -->
  <!-- Delete Confirmation Modal -->
  <div class="modal modal-default fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="Add New Menu Item">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title text-center" id="myModalLabel"><i class="ion ion-close"></i> Remover del Menú</i></h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-12">
              <ul>
                <li>Esta opción elimina este plato del menú.</li>
                <li>El plato será borrado del menú.</li>
                <li>Puede volver a crear este plato en el futuro usando la opción Menú -> Agregar</li>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteItem(item)">Remover</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">No hacer nada</button>
        </div>
      </div>
    </div>
  </div><!-- /. Hide Confirmation Modal -->

</section><!-- .content -->