<div class="wrapper">

  <fp-header></fp-header>

  <!-- Full Width Column -->
  <div class="content-wrapper">
    <ui-view>
      <div class="container">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
          Bienvenido a Snack.do!
        </h1>
          <!--ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
          <li><a href="#">Layout</a></li>
          <li class="active">Top Navigation</li>
        </ol-->
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="box box-danger">
            <div class="box-body">
              <div class="input-group input-group-sm">
                <input type="text" class="form-control" placeholder="Busca lo que quieres comer... Una hamburguesa? Pizza? La mejor ensalada ceasar?">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-info">Buscar</button>
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="item in globalMenu">
              <div class="info-box">
                <span class="info-box-icon bg-red">
                <a href="{{'#/frontpage/item/' + item._id}}">
                  <img style="height:100%; vertical-align:bottom" src="{{item.pictures[0]}}" />
                </a>
              </span>
                <div class="info-box-content">
                  <span class="info-box-text">
                  <a href="{{'#/frontpage/item/' + item._id}}" ><b>{{item.name}}</b> </a>
                  <a href="{{'#/frontpage/item/' + item._id}}" class="pull-right"><i class="ion ion-more"></i></a>
                </span>
                  <span class="info-box-number">${{item.price}}</span>
                  <span class="info-box-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                  <i class="fa fa-star-o"></i>
                </span>
                  <span class="info-box-text" style="text-transform: none">Se ha ordenado {{item.timesOrdered}} veces</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.box -->
          <!-- div class="callout callout-info">
          <h4>Tip!</h4>
          <p>Add the layout-top-nav class to the body tag to get this layout. This feature can also be used with a sidebar! So use this class if you want to remove the custom dropdown menus from the navbar and use regular links instead.</p>
        </div -->
          <!-- div class="callout callout-danger">
          <h4>Warning!</h4>
          <p>The construction of this layout differs from the normal one. In other words, the HTML markup of the navbar and the content will slightly differ than that of the normal layout.</p>
        </div -->
          <!--div class="box box-default">
          <div class="box-header with-border">
            <h3 class="box-title">Bienvenido a Snack.do!</h3>
          </div>
          <div class="box-body">
            The great content goes here
          </div>
        </div-->
          <!-- /.box -->
        </section>
        <!-- /.content -->
      </div>
      <!-- /.container -->
    </ui-view>
    <!-- /.ui-view -->
  </div>
  <!-- /.content-wrapper -->

  <fs-footer></fs-footer>
  
</div>
<!-- ./wrapper -->
