<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="{{user.picture}}" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>{{user.displayName}}</p>
        <!-- Status -->
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>

    <!-- search form (Optional) -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
        </span>
      </div>
    </form>
    <!-- /.search form -->

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">NAVEGACIÓN</li>
      <li><a href="/#/dashboard/general"><i class="fa fa-bar-chart"></i> <span>General</span></a></li>
      <li class="treeview">
        <a href="/#/dashboard/menu"><i class="fa fa-cutlery"></i> <span>Menú</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li><a href="/#/dashboard/menu">Ver Menú</a></li>
          <li><a href="/#/dashboard/menu/add">Agregar</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="/#/dashboard/orders"><i class="fa fa-pencil-square-o"></i> <span>Órdenes</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li><a href="/#/dashboard/orders">Ver Órdenes</a></li>
        </ul>
      </li>
    </ul><!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>